* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.2s;
}

ul[class$="display-ulist"] {
    list-style-type: none;
}

body {
    background-image: url("./Images/Oceanpets\ Landing\ -\ ROADMAP.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    padding: 60px 60px 50px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.web-icon {
    width: 25px;
    height: 25px;
}

.web-logo {
    width: 256px;
    height: 35px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
}


.navigation-link {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff99;
}

.navigation-link:hover {
    color: #ffffff;
}


main {

    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    justify-content: center;
}

.main__article {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.roadmap {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
}

.roadmap-description {
    max-width: 650px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff99;
}

.main__patches {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    
}

.main__Q4-2021, .main__Q1-2022 {
    background: #FFFFFF33;
    border-radius: 5px;
    padding: 15px;
}

.Q-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 24px;
}

.patch-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.display-ulist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ulist-options {
    color: #ffffff;
}

.ulist-options > img{
    margin-right: 14px;
}


@media (max-width: 1350px) {
    .nav-right {
        display: none;
    }
    .main__patches {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
    }
}

@media (max-width: 817px) {
    .patch-rows {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
    }

    body {
        padding-bottom: 100px;
    }
}