:root {
    --header-bg-color: #29292d;
    --webpage-tinted-grey: #9f9f9f;
    --webpage-white: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    list-style: none;
}

.pop-up {
    width: 100%;
    height: 45px;
    background-color: #6B57FF;
    transition: ease-in-out 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.pop-up > a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: ease-in-out 0.5s;
}

.pop-up > a:hover {
    text-decoration: underline;
}

.close-pop-up {
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    color: var(--webpage-white);
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
}

/* section - 1 */
header {
    background-color: var(--header-bg-color);
    width: 100%;
}

section.header-section {
    width: 1100px;
    margin: auto;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-a-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 100%;
    max-width: 100%;
    min-width: none;
}

.nav-a-tags > a {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--webpage-tinted-grey);
    transition: ease-in-out 0.1s;
}

.nav-a-tags > a:hover {
    color: var(--webpage-white);
}

.nav-a-tags > a:last-child {
    margin-top: 8px;
}

.main-logo {
    background-image: url("https://cdn.icon-icons.com/icons2/2389/PNG/512/jetbrains_logo_icon_145150.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;
    background-color: white;

    width: 60px;
    height: 60px;
    transition: ease-in-out 0.1s;
}

.main-logo:hover {
    background-color: var(--webpage-tinted-grey);
}

/* section - 2 */
.section-2 {
    padding: 20px 0px 0px 0px;
}

.webpage-slogan {
    font-size: 35px;
    width: 670px;
    color: var(--webpage-white);
}

.webpage-sub-slogan {
    font-size: 18px;
    font-weight: 400;
    color: var(--webpage-white);
    margin: 10px 0px 0px 0px;
}

/* sub-section ~ section - 2 */
.preference-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    flex-wrap: wrap;
}

.opt {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: solid var(--webpage-tinted-grey) 1px;
    transition: ease-in-out 0.1s;
}

.opt:hover {
    border-bottom: solid var(--webpage-white) 2px;
}

.opt > i, p, .opt-logo {
    color: var(--webpage-white);
}

.cst-kotlin {
    width: 20px;
    fill: var(--webpage-white);
}

.opt-4 > .opt > .opt-name {
    margin-left: 3px;
}

.opt-name {
    margin-left: 10px;
}

.opt-content {
    color: var(--webpage-tinted-grey);
    font-family: 14px;
    font-weight: 400;
    margin: 8px 0px 0px 0px;
}

/* section - 3 */
.section-3 {
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.big-img-div {
    width: 740px;
    height: 350px;
    background-color: black;
    background-image: url("./images/GradientPattern.svg");
    background-size: 140%;
    background-position: 0px -300px;
    background-repeat: no-repeat;
    border-radius: 15px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 30px;
}

.big-div-a-img {
    display: flex;
    width: 400px;
    height: 50px;
    background-image: url("./images/ides-flcc-icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.big-div-content {
    font-size: 30px;
    margin-bottom: 80px;
}

.small-divs {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.learn-more-btn {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.learn-more-btn > i {
    font-size: 18px;
    margin-bottom: 2px;
} 

.small-img-div-1 {
    width: 340px;
    height: 168px;
    background: linear-gradient(60deg,#1f0647,#300082 30%,#8f0099 60.48%,rgba(238,0,176,.85) 79.59%,#f75f62 92.66%,#ffbe14 104.65%);
    border-radius: 15px;
}

.small-img-div-2 {
    width: 340px;
    height: 168px;
    border-radius: 15px;
    background-image: url("./images/Dog.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* section - 4 */
.section-4 {
    padding-bottom: 1000px;
}

.section-4 > h3{
    font-size: 30px;
    font-weight: 400;
    color: var(--webpage-white);
}


.section-4 > h3 > span > a{
    border-bottom: solid 2px var(--webpage-tinted-grey);
    padding-bottom: 5px;
    color: var(--webpage-white);
}

.section-4 > h3 > span > a:hover{
    border-bottom: solid 2px var(--webpage-tinted-grey);
    padding-bottom: 5px;
    color: var(--webpage-white);
}

.s4c-1-a {
    margin-left: 10px;
}

.s4c-1-a-2 {
    font-size: 30px;
    font-weight: 400;
    color: var(--webpage-white);
    border-bottom: solid 2px var(--webpage-tinted-grey);
    padding-bottom: 5px;
    color: var(--webpage-white);
}

.s4c-1 {
    margin-bottom: 10px;
}

.s4c-2 {
    margin-top: 40px;
}

.p-l-buttons {
    margin-top: 20px;
    flex-wrap: wrap;
    width: 800px;
}

.p-l-button:first-of-type, .p-l-button:nth-of-type(7) {
    margin-left: 0px;
}

.p-l-button:hover {
    background-color: rgba(241, 170, 162, 0.879);
}

.p-l-button {
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 10px 5px;
    transition: ease-in-out 0.1s;
}

@media (max-width: 1130px) {
    .section-3 {
        flex-direction: column;
    }
    
    .small-img-div-1, .small-img-div-2, .big-img-div {
        width: 1000px;
    }
}