* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

:root {
    --main-bg: #01e17e;
    --apple-bg: #a3e718;
    --button-bg: #ff4444;
}

body {
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    position: relative;

    width: 60vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 8px;
}

.apple-card {
    background-color: var(--apple-bg);
    border-radius: inherit;
    height: 85%;
    width: 100%;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 30px rgba(110, 110, 110, 0.449);
}

.card-icons {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 50px;
}

.card-icons > i {
    font-size: 20px;
    color: #ffffff;
}

.apple-card-img {
    width: 300px;
    height: 300px;
    margin-left: -30px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.apple-image-div {
    width: 100%;
    height: 100%;
}

.apple-perspectives {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.apple-perspectives > .apple-images {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.389);
    border-radius: 2px;
}

.apple-images > img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

article {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* background-color: #ff4444; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 0px;
}

.article-sec-3 {
    padding-left: 20px;
}

#add-to-cart-btn {
    width: 200px;
    height: 70px;
    background-color: var(--button-bg);
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgba(131, 131, 131, 0.367);
}

.article-sec-1 {
    width: 100%;
}

.article-name {
    font-size: 30px;
    color: #666561;
}

.product-hex {
    color: #c7c7c7;
    font-size: 10px;
}

.price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 80px;
    color: #ff4444;
}

.price-currency {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.product-price {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-left: 15px;
}

.product-color {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.product-color > p {
    color: #c7c7c7;
    font-size: 15px;
}

.product-color-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.apple-color-img-div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #8080805f;   
}

.apple-color-img-div > img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.benefits-header {
    color: #c7c7c7;
    margin-left: -20px;
}

.benefits-ul {
    margin-top: 8px;
}