@font-face {
    font-family: Raleway;
    src: url("./Fonts/Raleway-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--web-gray);
    outline: none;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    font-family: Raleway;
}

:root {
    --web-orange: #C4730A;
    --web-light-orange: #DF8928;
    --web-gray: #5E5E5E;
    --web-title: #393939;
    --web-description-brown: #612B00;
    --web-companies-text: #4B4B4B;
    --web-light-grey: #F3F3F3;
    --web-dark-white: #FCF6F0;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: relative;
    height: 100vh;
    background-image: url("./Images/background-images/HeaderBackground.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.elipses {
    width: 18px;
    height: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 1px;
}

.elipses > img {
    width: 8px;
    height: 8px;
}

.page-title {
    color: var(--web-title);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 50px;
}

.nav-options {
    font-weight: 600;
}

.nav-options-fill {
    background-color: var(--web-orange);
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 5px;
}

.header-left-circle {
    position: absolute;
    top: -7%;
    left: 0;
    width: 650px;
    height: 120%;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 0px 50% 50% 0px;
}

.header-content {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-description {
    color: var(--web-description-brown);
}

.header-circle-contact-us {
    color: #ffffff;
    font-weight: 600;
    background-color: var(--web-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 50px;
    border-radius: 5px;
}

main {
    width: 100%;
}

.main-sec-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.sec-1-text {
    color: var(--web-companies-text);
    font-size: 22px;
    font-weight: 600;
}

.companies-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.companies-row-2 {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.companies-row-1 > img,  .companies-row-2 > img {
    width: 147px;
    height: 37px;
}

.main-sec-2 {
    padding: 25px 0px;
    /* height: 82px; */
    background-color: var(--web-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.features-text {
    font-size: 24px;
    font-weight: 700;
}

.features-grey-spheres {
    width: 11px;
    height: auto;
}

.main-sec-3 {
    height: 100vh;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 400px 50px;
}

.man-in-the-field-img {
    width: 600px;
    height: 580px;
    border-radius: 4px 4px 1000px 4px;
    box-shadow: 5px 5px 10px #80808050;
}

.sec-3-article {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.sec-3-slogan {
    font-size: 48px;
    font-weight: 700;
}

.sec-3-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--web-light-orange);
}

.sec-3-features-outter {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sec-3-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec-3-feature-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--web-companies-text);
}

.sec-3-feature-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--web-companies-text);
}
    
.main-sec-4 {
    height: 518px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.customer-review {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.customer-img {
    width: 56px;
    height: auto;
}

.customer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.customer-name {
    font-size: 16px;
    font-weight: 600;
}

.customer-pos-company {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.review {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* main-sec-5 is same as main-sec-3 */
#man-in-the-field2 {
    border-radius: 1000px 4px 4px 4px !important;
    box-shadow: -5px -5px 10px #80808050;
}

.main-sec-6 {
    height: 850px;
    background-image: url("./Images/background-images/ManWithKid.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.sec-6-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 150px;
}

.sec-6-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--web-companies-text);
}

.sec-6-description {
    font-size: 20px;
    font-weight: 400;
    color: var(--web-companies-text);
    line-height: 30px;
}

.main-sec-7 {
    height: 212px;
    background: linear-gradient(91.76deg, #D48C04 -11.76%, #B35911 103.23%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.sec-7-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.download-text {
    color: var(--web-dark-white);
    font-size: 32px;
    font-weight: 700;
}

.download-description {
    color: var(--web-dark-white);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.download-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.download-link {
    width: 216px;
    height: 70px;
}

.main-sec-8 {
    height: 100vh;
    width: 100vw;
    padding: 0 64px;
    align-items: center;
    align-content: center;
}

.sec-8-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sec-8-title {
    color: var(--web-orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 20%;
}

.sec-8-slogan {
    font-size: 48px;
    font-weight: 700;
}

.sec-8-article {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.sec-8-article-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact > i {
    font-size: 20px;
    color: var(--web-orange);
    margin-left: 2px;
}

.contact > h3 {
    font-size: 32px;
    font-weight: 700;
}

.contact > p {
    font-size: 16px;
    font-weight: 400;
}

footer {
    height: 398px;
    padding: 80px;
    background-color: var(--web-companies-text);
}

#nav-left {
    gap: 5px;
}

#elipses {
    width: 30px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 1px;
}

#elipses > img {
    width: 14px;
    height: 14px;
}

#page-title {
    font-size: 41px !important;
    font-weight: 700;
    color: var(--web-light-grey);
}



.footer-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-medias {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

.social-media > i {
    color: #ffffff;
    font-size: 30px;
}

.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.footer-options {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.footer-row-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 70px;
    padding: 50px 0 0 0;
    border-top: solid var(--web-gray) 2px;
}

.footer-row-2-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.web-page-preset, .copyright {
    font-size: 14px;
    font-weight: 400;
    color: var(--web-dark-white);
}

@media (max-width: 1134px) {
    .header-left-circle {
        display: none;
    }
    .header-content {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .header-slogan {
        font-size: 28px;
        font-weight: 700;
    }
    header {
        position: relative;
        height: 100vh;
        background-image: url("./Images/background-images/HeaderBackground.jpg");
        background-position: center;
        background-size: 700%;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    .sec-1-text {
        margin-bottom: 70px;
    }
    .main-sec-1 {
        gap: 0px;
    }  
    .companies-row-1, .companies-row-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .companies-row-1 {
        margin-bottom: 70px;
    }
    
    .main-sec-2 {
        display: none;
    }

    .main-sec-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 100px;
        /* margin-bottom: 150px; */
        padding: 0px 0px;
    }
    .man-in-the-field-img {
        width: 580px !important;
        height: 580px !important;
    }
    .sec-3-features-outter {
        flex-direction: column;
    }
    .main-sec-4 {
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
