* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out 0.2s;
    outline: none;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

#scrollbar-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

#scrollbar-top-thumb {
    width: 0;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-orange);
}

:root {
    --main-orange: #ff4a22;
    --web-grey: #adadad;
    --web-secondary-grey: #5c5c5c;
}

header {
    max-width: 100%;
    height: auto;
}

.header-nav {
    /* this was 85% */
    width: 85%; 
    height: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.header-nav-title {
    font-size: 28px;
    font-weight: 700;
    width: 205px;
}

.header-nav-view-all {
    color: var(--main-orange);
    align-content: center;
    justify-self: end;
    text-align: center;
}

.header-nav-view-all > i {
    color: inherit;
}

.dessert-cards-section {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 30px;
}

.dessert-cards {
    box-shadow: 5px 5px 10px #d2d2d6;
    height: 387px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.dessert-card-top {
    border-radius: 20px 20px 0 0;
    background-image: url("https://www.fnp.com/images/pr/l/v20221205202803/chocolate-rose-designer-cake-half-kg_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* problem might be here */
.dessert-card-bottom {
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0px;
    padding-left: 15px;
}

.dessert-card-bottom-text {
    align-content: center;
    font-weight: 600;
    font-size: 18px;
}

.dessert-card-bottom-mid {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dessert-price {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-orange);
}

.dessert-order-count {
    color: var(--web-grey);
    font-size: 12px;
}

.dessert-bottom-options {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 0;
    align-items: center;
}

.review-div {
    width: 160px;
    display: flex;
    align-items: center;
}

.review-div > i {
    color: #eea10c;
    margin-bottom: 7px;
}

.star-review-digit {
    margin-right: 10px;
    color: var(--web-secondary-grey);
    font-weight: 600;
    font-size: 15px;
}

.add-to-cart {
    color: white;
    font-weight: 600;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: var(--main-orange);
    margin-bottom: 5px;
}

main {
    margin-top: 50px;
    width: 100%;
    height: 455px;
    background-image: url("https://cookiesandcups.com/wp-content/uploads/2013/12/cake-mix-brownies-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

main::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #8c808030;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 70%;
    height: 214px;
    background-color: #00000089;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-content > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.main-content > button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    justify-self: center;
    margin-top: 20px;
    background-color: var(--main-orange);
    color: white;
    border: none;
    font-weight: 600;
}




@media (max-width: 1250px) {
    .dessert-cards-section {
        width: 90%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}