* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

:root {
    --sidebar-black: #101010;
    --sidebar-option-hover-bg: #181818;
}

aside {
    position: fixed; 
    transform: translateX(-100%);
    width: 250px;
    height: 100vh;
    background-color: var(--sidebar-black);
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    /* overflow-y: hidden; */
    z-index: 2;
}

.sidebar-toggler {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background-color: var(--sidebar-black);
    border-radius: 0px 15px 15px 0px ;
    top: 15px;
    right: -40px;
}

.sidebar-toggler > i {
    color: white;
    font-size: 40px;
    margin-top: 8px;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.youtube-main-logo-outter {
    width: 100%;
    height: auto;
}

.youtube-main-logo {
    width: 140px;
    height: auto;
}

.sidebar-options {
    padding: 25px 8px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.sidebar-options > i {
    color: inherit;
    margin: 0 10px 5px 0;
}

.sidebar-options:hover {
    background-color: var(--sidebar-option-hover-bg);
}

header {
    background: rgb(154,203,207);
    /* background: linear-gradient(90deg, rgba(154,203,207,1) 0%, rgba(129,190,193,1) 15%, rgba(86,168,180,1) 50%, rgba(76,163,181,1) 72%, rgba(59,158,174,1) 100%); */
    background-image: url("https://i.pinimg.com/originals/c5/de/0b/c5de0baee57e9bda74bfbeb0c533ba75.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 250px;
    position: relative;
}

header > nav {
    background-color: #2632329a;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.header-nav-side-options {
    position: absolute;
    right: 30px;
    top: 3px;
    width: 150px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige !important; */
}

.header-nav-side-options > i {
    font-size: 25px;
    color: white;
}

.header-nav-input {
    width: 350px;
    height: 30px;
    background-color: #223739;
    border: solid white 2px;
    border-radius: 10px;
    padding: 15px 35px 15px 15px;
    color: white;
    color: white;
    font-size: 15px;
    font-weight: 600;
    position: relative;

}

.header-nav-input-group > i {
    position: absolute;
    right: 12px;
    top: 2.5px;
    color: white;
}

.header-nav-input-group {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.youtube-banner {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.youtube-banner-name {
    font-size: 40px;
    color: white;
    font-size: 600;
}

.youtube-banner-name > span {
    color: white;
    font-weight: 300;
}

.youtube-banner-options {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 15px;
    background-color: #131d1f;
    width: 200px;
    height: 95px;
}

.banner-options-top, .banner-options-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-options-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 0px 15px;
}

.banner-options-top-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.banner-options-bottom {
    padding: 0px;
    justify-content: center !important; 
}

.sub-btn {
    width: 100px;
    height: 25px;
    background-color: #fd0101;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
}

.join-btn {
    color: black;
    font-weight: 600;
    width: 60px;
    border-radius: 8px;
    height: 25px;
    border: none;
    margin-left: 8px;

}

.youtube-banner-options-img {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
}

.banner-options-top-left > p {
    color: white;
    font-weight: 600;
}

.youtuber-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    text-align: center;
}

.youtuber-name > i {
    margin-top: 3.5px;
    font-size: 11px;
    color: white;
}

main {
    background: rgb(16,19,29);
    background: linear-gradient(90deg, rgba(16,19,29,1) 0%, rgba(17,27,34,1) 25%, rgba(17,34,34,1) 50%, rgba(17,34,27,1) 75%, rgba(15,27,19,1) 100%);
    height: calc(100vh - 250px);
}
